BODY
{
    BACKGROUND: url(../images/bg.gif) #403e3d repeat-x;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    
}

#outer
{
    MARGIN: 0px auto;
    WIDTH: 760px
}

.main
{
    PADDING-RIGHT: 11px;    
    PADDING-LEFT: 11px;
    PADDING-BOTTOM: 11px;    
    PADDING-TOP: 11px;
    WIDTH: 738px;
    BACKGROUND: url(../images/main-bg.gif) #fff repeat-x;
}
.main IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN-TOP: 6px;
    MARGIN-BOTTOM: 10px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}

#menu{
	border-top: 7px solid #0087A8;
	margin: 0px;
	padding: 0px;
	margin-bottom: 35px;	
}

#menu ul{
	margin: 0;
	margin-left: 15px; /*menu offset from left edge of window*/
	float: left;
	padding-left: 10px;
	font-size: 12px;
	background-color: #0087A8;
	background: #0087A8 url(../images/leftround.gif) bottom left no-repeat; 

}

* html #menu ul{ 
	/*IE6 only rule. Decrease ul left margin and add 1em bottom margin*/
	margin-bottom: 1em;
	margin-left: 7px; 
	/*menu offset from left edge of window in IE*/
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	float: left;
	color: white;
	font-weight: bold;
	padding: 2px 11px 7px 7px;
	text-decoration: none;
	background: url(../images/box.gif) bottom center no-repeat;
}

#menu ul li a:visited{
	color: white;
}


#menu ul li a:hover, #menu ul li a#selected{ 
	/*hover and selected link*/
	color: black;
	background-color: #E2E2E2;
}

#menu ul li a#rightcorner{
	padding: 2px 11px 7px 7px;
	height:14px;	
	background: url(../images/rightround.gif) bottom right no-repeat; 
	/*optional right round corner*/
}

#top_ads {
	border-top: 5px solid #0087A8;
	border-bottom: 0px solid #0087A8;
	border-left: 5px solid #0087A8;
	border-right: 5px solid #0087A8;
}

.box
{
    PADDING-RIGHT: 13px;
    BORDER-TOP: #e9e9e9 13px solid;
    PADDING-LEFT: 13px;
    BACKGROUND: url(../images/box-bg.gif) #e9e9e9 repeat-y 13px 13px;
    PADDING-BOTTOM: 0px;
    WIDTH: 713px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #e9e9e9 19px solid
}
.content
{
	PADDING-BOTTOM: 10px;
    WIDTH: 710px;
    PADDING-TOP: 0px;
    
}

.content H1
{
    FONT-SIZE: 13px;
    MARGIN-TOP: 0px;
    COLOR: #1b5e8b;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    background-color: #0087A8;
    font-weight: bold;
    COLOR:#FFF;
    PADDING: 5px;
}
.content P
{
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 15px;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif; 
    PADDING-LEFT: 5px;   
}

.content A
{
    COLOR: #0087A8
}
.content A:hover
{
    TEXT-DECORATION: none
}

.footer
{
    MARGIN-TOP: 15px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 15px;
    COLOR: #fff;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: right
}

.clear
{
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden;
    HEIGHT: 0px;
    content: "."
}

#preview{
	PADDING-BOTTOM: 10px;
    WIDTH: 710px;
    PADDING-TOP: 0px;
}

#preview H1
{
    FONT-SIZE: 13px;
    MARGIN-TOP: 0px;
    COLOR: #1b5e8b;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    background-color: #0087A8;
    font-weight: bold;
    COLOR:#FFF;
    PADDING: 5px;
}

#picture {
	width: 50px;
	height:50px;	
  	margin-bottom: 10px;
  	margin-left: 10px;
  	color: #FFF;
  	font-weight:bold;
  	BORDER: #000 1px solid
}

#generated{
	TEXT-ALIGN: center;
	MARGIN: 0px;
	PADDING: 0px;
}

.left
{

    FLOAT: left;
    PADDING-BOTTOM: 30px;
    WIDTH: 486px;
    PADDING-TOP: 0px;
    /* border: 1px solid #000;*/
}

.left div.title
{
    FONT-SIZE: 13px;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    background-color: #0087A8;
    font-weight: bold;
    COLOR:#FFF;
    PADDING: 5px;    
}
.left P
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify;
    PADDING: 5px;
    PADDING-TOP: 0px;
    LINE-HEIGHT: 15px;   
}

.left A
{
    COLOR: #0087A8
}
.left A:hover
{
    TEXT-DECORATION: none
}


.right
{
    PADDING-LEFT: 11px;
    FLOAT: left;
    WIDTH: 214px
}

.right DIV
{
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 15px;
    MARGIN-LEFT: 10px;
    LINE-HEIGHT: 20px;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    
}
.right DIV A
{
    COLOR: #0087A8;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif
}
.right DIV A:hover
{
    TEXT-DECORATION: none
}

.right H2
{
    FONT-SIZE: 13px;
    MARGIN-TOP: 0px;
    COLOR: #1b5e8b;
    FONT-FAMILY: "lucida grande",Verdana, Arial, Helvetica, sans-serif;
    background-color: #0087A8;
    font-weight: bold;
    COLOR:#FFF;
    PADDING: 5px;
}

.box_left
{
    PADDING-RIGHT: 13px;
    BORDER-TOP: #e9e9e9 13px solid;
    PADDING-LEFT: 13px;
    BACKGROUND: url(../images/box-left-bg.gif) #e9e9e9 repeat-y 13px 13px;
    PADDING-BOTTOM: 0px;
    WIDTH: 713px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #e9e9e9 19px solid;
}



#loading{
	MARGIN: 0px auto; 
	width: 100px;
	text-align: center;
	line-height: 0;
	background-color: #FFF;
	BORDER: #0087A8 2px solid;	
}
#overlay{
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}
#lightbox{
	
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;	
	}
#lightbox img{ border: none; }